{% extends "layout.html" %}

{% block main %}
  {% if session["user_id"] %}
    <p class="lead">Let's create your first task!</p>
    <div class="row mx-auto w-50">
      <div class="col">
        <div class="card border-secondary h-100">
          <div class="card-body">
            <h4 class="card-title">✎</h4>
            <p class="card-body"><a href="/new" class="btn btn-outline-dark">+ Create Task</a></p>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <p class="lead">Things moving fast.. feeling overwhelmed?</p>
    <p class="lead">Welcome to your <mark>to-do lists</mark>!</p>
    <img alt="main_gif" src="static/giphy.gif" width="480" height="480" class="giphy-embed"/>
  {% endif %}
{% endblock %}