{% extends "layout.html" %}

{% block main %}
  <form action="/new" method="post">
    <div class="row row-cols-1">
      <div class="col">
        <div class="card border-dark h-100">
          <div class="card-header text-end">
            <label for="priority">Set Priority &nbsp;</label>
            <select id="priority" name="priority">
              <option disabled value="none" selected />
              <option value="1">☆☆☆</option>
              <option value="2">☆☆</option>
              <option value="3">☆</option>
            </select>
          </div>
          <div class="card-body ">
            <p class="card-title">
              <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="Title" style="text-align: center;" type="text">
            </p>
            <p class="card-text">
              <input autocomplete="off" autofocus class="form-control mx-auto" id="description" name="description" placeholder="Description (optional)" style="text-align: center;" type="text">
            </p>
            <p class="card-text">
              <button class="btn btn-outline-dark" type="submit">Add Task</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}